/*Cores Bootstrap*/
.bg-danger{
  background-color: #34495E !important;
}
.bg-primary{
  background-color: #f2f2f2 !important;
}
.bg-light{
  background-color: #6C7A89 !important;
}
.text-white{
  color: white !important;
}
.btn-danger{
      background-color: #2C3E50 !important;
}
/*-----------------*/

body{
  color: white;
}
a{
    text-decoration: none;
    color: white;
}