/*Cores Bootstrap*/

.bg-danger{
  background-color: #7B707F !important;
}

.bg-primary{
  background-color: #69317F !important;
}

.bg-light{
  background-color: #D363FF !important;
}

.text-white{
  color: white !important;
}

.btn-danger{
  background-color: #2C3E50 !important;
}
/*-----------------*/
  
body{
  color: white;
}

a{
    text-decoration: none;
    color: white;
}